.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.content {
    padding: 60px;
    margin: 60px;
    height: 700px;
}

.left-content {
    text-align: left;
    padding: 60px;
    width: 33%;
}

.center-content {
    text-align: center;
    padding: 60px;
    width: 33%;
}

.right-content {
    text-align: right;
    padding: 60px;
    width: 33%;
}